In [13]:
%store -r df1
import nbformat
from nbconvert.preprocessors import ExecutePreprocessor
import pandas as pd
from sklearn.neural_network import MLPRegressor

In [14]:
df1

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,days_left_binned,duration_sqrt_scaled,price_boxcox_scaled
0,-0.518731,-0.068017,0.026656,-0.273630,0.015281,0.009063,-0.577809,0.437431,-1.735912,-0.498010
1,-0.518731,-0.068017,-0.026516,-0.273630,0.061629,0.009063,-0.577809,0.437431,-1.685797,-0.498010
2,-0.713457,-0.068017,-0.026516,-0.273630,-0.156916,0.009063,-0.577809,0.437431,-1.735912,-0.497464
3,0.309109,-0.068017,0.005012,-0.273630,-0.047256,0.009063,-0.577809,0.437431,-1.710632,-0.497646
4,0.309109,-0.068017,0.005012,-0.273630,0.061629,0.009063,-0.577809,0.437431,-1.685797,-0.497646
...,...,...,...,...,...,...,...,...,...,...
298831,0.309109,-0.021865,-0.026516,0.061277,0.015281,-0.047190,1.294387,-0.140010,-0.137069,1.493494
298832,0.309109,-0.021865,0.086165,0.061277,-0.047256,-0.047190,1.294387,-0.140010,-0.087181,1.555722
298833,0.309109,-0.021865,-0.091278,0.061277,-0.156916,-0.047190,1.294387,-0.140010,0.373988,1.570295
298834,0.309109,-0.021865,0.005012,0.061277,-0.156916,-0.047190,1.294387,-0.140010,-0.148929,1.587833
298835,0.309109,-0.021865,-0.091278,0.061277,-0.047256,-0.047190,1.294387,-0.140010,-0.137069,1.587833