In [67]:
%store -r df

In [68]:
df = df.drop('flight', axis=1)
df_cleaned = df.dropna()

In [69]:
import pandas as pd
from sklearn.preprocessing import LabelBinarizer
categorical_variables = ['airline', 'source_city', 'departure_time', 'stops', 'arrival_time', 'destination_city', 'class']
for variable in categorical_variables:
    df[variable] = df[variable].astype(str)
    labelbinarizer = LabelBinarizer()
    encoded_data = labelbinarizer.fit_transform(df[variable])
    encoded_df = pd.DataFrame(encoded_data, columns=[f'{variable}_{cls}' for cls in labelbinarizer.classes_])
    df = pd.concat([df, encoded_df], axis=1)
df.head()

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price,...,destination_city_Bangalore,destination_city_Chennai,destination_city_Delhi,destination_city_Hyderabad,destination_city_Kolkata,destination_city_Mumbai,destination_city_nan,class_Business,class_Economy,class_nan
0,SpiceJet,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1.0,5953.0,...,0,0,0,0,0,1,0,0,1,0
1,SpiceJet,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1.0,5953.0,...,0,0,0,0,0,1,0,0,1,0
2,AirAsia,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1.0,5956.0,...,0,0,0,0,0,1,0,0,1,0
3,Vistara,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1.0,5955.0,...,0,0,0,0,0,1,0,0,1,0
4,Vistara,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1.0,5955.0,...,0,0,0,0,0,1,0,0,1,0

In [70]:
df2.iloc[:, -30:]

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price,duration_sqrt_scaled,price_boxcox_scaled,days_left_scaled,class_Business,class_Economy,class_nan
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1.0,5953.0,-1.735912,-0.498010,-1.848686,0.0,1.0,0.0
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1.0,5953.0,-1.685797,-0.498010,-1.848686,0.0,1.0,0.0
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1.0,5956.0,-1.735912,-0.497464,-1.848686,0.0,1.0,0.0
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1.0,5955.0,-1.710632,-0.497646,-1.848686,0.0,1.0,0.0
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1.0,5955.0,-1.685797,-0.497646,-1.848686,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0
299407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0
299458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0
299700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0
300068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0

In [71]:
from sklearn.decomposition import PCA
variables = ['airline_AirAsia', 'airline_Air_India', 'airline_GO_FIRST',
       'airline_Indigo', 'airline_SpiceJet', 'airline_Vistara', 'airline_nan',
       'source_city_Bangalore', 'source_city_Chennai', 'source_city_Delhi',
       'source_city_Hyderabad', 'source_city_Kolkata', 'source_city_Mumbai',
       'source_city_nan', 'departure_time_Afternoon',
       'departure_time_Early_Morning', 'departure_time_Evening',
       'departure_time_Late_Night', 'departure_time_Morning',
       'departure_time_Night', 'departure_time_nan', 'stops_nan', 'stops_one',
       'stops_two_or_more', 'stops_zero', 'arrival_time_Afternoon',
       'arrival_time_Early_Morning', 'arrival_time_Evening',
       'arrival_time_Late_Night', 'arrival_time_Morning', 'arrival_time_Night',
       'arrival_time_nan', 'destination_city_Bangalore',
       'destination_city_Chennai', 'destination_city_Delhi',
       'destination_city_Hyderabad', 'destination_city_Kolkata',
       'destination_city_Mumbai', 'destination_city_nan', 'class_Business',
       'class_Economy', 'class_nan']
x = df[variables]
x = x.fillna(x.mean())
pca = PCA()
x_pca = pca.fit_transform(x)
x_pca = pd.DataFrame(x_pca)

pca.explained_variance_ratio_

array([1.08079625e-01, 7.03524955e-02, 6.30916395e-02, 5.75025202e-02,
       5.30888876e-02, 5.03749305e-02, 4.80813710e-02, 4.77969072e-02,
       4.57774543e-02, 4.08929116e-02, 3.85672256e-02, 3.49182862e-02,
       3.40800320e-02, 3.28451985e-02, 3.05865153e-02, 3.01293708e-02,
       2.98582109e-02, 2.80075893e-02, 2.62307966e-02, 2.59433588e-02,
       2.32331044e-02, 1.90905723e-02, 1.39639306e-02, 1.18094480e-02,
       1.06953857e-02, 9.17928728e-03, 7.98280197e-03, 6.75350498e-03,
       1.08096249e-03, 5.67570538e-06, 1.89799817e-25, 6.25287005e-26,
       3.20945523e-26, 8.43347799e-27, 4.25685488e-27, 1.18421299e-27,
       3.68430658e-28, 2.13149476e-32, 5.58860343e-34, 5.58860343e-34,
       5.58860343e-34, 5.58860343e-34])

In [72]:
pca.explained_variance_ratio_

array([1.08079625e-01, 7.03524955e-02, 6.30916395e-02, 5.75025202e-02,
       5.30888876e-02, 5.03749305e-02, 4.80813710e-02, 4.77969072e-02,
       4.57774543e-02, 4.08929116e-02, 3.85672256e-02, 3.49182862e-02,
       3.40800320e-02, 3.28451985e-02, 3.05865153e-02, 3.01293708e-02,
       2.98582109e-02, 2.80075893e-02, 2.62307966e-02, 2.59433588e-02,
       2.32331044e-02, 1.90905723e-02, 1.39639306e-02, 1.18094480e-02,
       1.06953857e-02, 9.17928728e-03, 7.98280197e-03, 6.75350498e-03,
       1.08096249e-03, 5.67570538e-06, 1.89799817e-25, 6.25287005e-26,
       3.20945523e-26, 8.43347799e-27, 4.25685488e-27, 1.18421299e-27,
       3.68430658e-28, 2.13149476e-32, 5.58860343e-34, 5.58860343e-34,
       5.58860343e-34, 5.58860343e-34])

In [74]:
df.columns

Index(['airline', 'source_city', 'departure_time', 'stops', 'arrival_time',
       'destination_city', 'class', 'duration', 'days_left', 'price',
       'duration_sqrt_scaled', 'price_boxcox_scaled', 'days_left_scaled',
       'airline_AirAsia', 'airline_Air_India', 'airline_GO_FIRST',
       'airline_Indigo', 'airline_SpiceJet', 'airline_Vistara', 'airline_nan',
       'source_city_Bangalore', 'source_city_Chennai', 'source_city_Delhi',
       'source_city_Hyderabad', 'source_city_Kolkata', 'source_city_Mumbai',
       'source_city_nan', 'departure_time_Afternoon',
       'departure_time_Early_Morning', 'departure_time_Evening',
       'departure_time_Late_Night', 'departure_time_Morning',
       'departure_time_Night', 'departure_time_nan', 'stops_nan', 'stops_one',
       'stops_two_or_more', 'stops_zero', 'arrival_time_Afternoon',
       'arrival_time_Early_Morning', 'arrival_time_Evening',
       'arrival_time_Late_Night', 'arrival_time_Morning', 'arrival_time_Night',
       'arrival_time_nan', 'destination_city_Bangalore',
       'destination_city_Chennai', 'destination_city_Delhi',
       'destination_city_Hyderabad', 'destination_city_Kolkata',
       'destination_city_Mumbai', 'destination_city_nan', 'class_Business',
       'class_Economy', 'class_nan'],
      dtype='object')