In [100]:
%store -r df

<font size = "4"> Pre-processing </font>
</br>
</br> Removing the flight column and removing any remaining na values

In [115]:
df2 = df.drop('flight', axis=1)
df2 = df.dropna()

<font size = "4"> One-Hot Encoding </font>

In [116]:
import pandas as pd
from sklearn.preprocessing import LabelBinarizer
categorical_variables = ['airline', 'source_city', 'departure_time', 'stops', 'arrival_time', 'destination_city', 'class']
for variable in categorical_variables:
    df2[variable] = df2[variable].astype(str)
    labelbinarizer = LabelBinarizer()
    encoded_data = labelbinarizer.fit_transform(df2[variable])
    encoded_df = pd.DataFrame(encoded_data, columns=[f'{variable}_{cls}' for cls in labelbinarizer.classes_])
    df2 = pd.concat([df2, encoded_df], axis=1)
df2.head()

/var/folders/35/z3r3_f6j1cb5d6525_gbwmxr0000gn/T/ipykernel_28511/4137353764.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[variable] = df2[variable].astype(str)

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,...,destination_city_Bangalore,destination_city_Chennai,destination_city_Delhi,destination_city_Hyderabad,destination_city_Kolkata,destination_city_Mumbai,destination_city_nan,class_Business,class_Economy,class_nan
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1.0,...,0,0,0,0,0,1,0,0,1,0
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1.0,...,0,0,0,0,0,1,0,0,1,0
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1.0,...,0,0,0,0,0,1,0,0,1,0
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1.0,...,0,0,0,0,0,1,0,0,1,0
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1.0,...,0,0,0,0,0,1,0,0,1,0

In [117]:
df2.columns

Index(['airline', 'flight', 'source_city', 'departure_time', 'stops',
       'arrival_time', 'destination_city', 'class', 'duration', 'days_left',
       'price', 'duration_sqrt_scaled', 'price_boxcox_scaled',
       'days_left_scaled', 'airline_AirAsia', 'airline_Air_India',
       'airline_GO_FIRST', 'airline_Indigo', 'airline_SpiceJet',
       'airline_Vistara', 'source_city_Bangalore', 'source_city_Chennai',
       'source_city_Delhi', 'source_city_Hyderabad', 'source_city_Kolkata',
       'source_city_Mumbai', 'source_city_nan', 'departure_time_Afternoon',
       'departure_time_Early_Morning', 'departure_time_Evening',
       'departure_time_Late_Night', 'departure_time_Morning',
       'departure_time_Night', 'departure_time_nan', 'stops_nan', 'stops_one',
       'stops_two_or_more', 'stops_zero', 'arrival_time_Afternoon',
       'arrival_time_Early_Morning', 'arrival_time_Evening',
       'arrival_time_Late_Night', 'arrival_time_Morning', 'arrival_time_Night',
       'arrival_time_nan', 'destination_city_Bangalore',
       'destination_city_Chennai', 'destination_city_Delhi',
       'destination_city_Hyderabad', 'destination_city_Kolkata',
       'destination_city_Mumbai', 'destination_city_nan', 'class_Business',
       'class_Economy', 'class_nan'],
      dtype='object')

<Font size = "4"> Performing PCA </font>

In [118]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
variables = ['airline_AirAsia', 'airline_Air_India',
       'airline_GO_FIRST', 'airline_Indigo', 'airline_SpiceJet',
       'airline_Vistara', 'source_city_Bangalore', 'source_city_Chennai',
       'source_city_Delhi', 'source_city_Hyderabad', 'source_city_Kolkata',
       'source_city_Mumbai', 'source_city_nan', 'departure_time_Afternoon',
       'departure_time_Early_Morning', 'departure_time_Evening',
       'departure_time_Late_Night', 'departure_time_Morning',
       'departure_time_Night', 'departure_time_nan', 'stops_nan', 'stops_one',
       'stops_two_or_more', 'stops_zero', 'arrival_time_Afternoon',
       'arrival_time_Early_Morning', 'arrival_time_Evening',
       'arrival_time_Late_Night', 'arrival_time_Morning', 'arrival_time_Night',
       'arrival_time_nan', 'destination_city_Bangalore',
       'destination_city_Chennai', 'destination_city_Delhi',
       'destination_city_Hyderabad', 'destination_city_Kolkata',
       'destination_city_Mumbai', 'destination_city_nan', 'class_Business',
       'class_Economy', 'class_nan']
x = df2[variables]
x = StandardScaler().fit_transform(x)
x = pd.DataFrame(x, columns=variables)
x = x.fillna(x.mean())
pca = PCA()
x_pca = pca.fit_transform(x)
x_pca = pd.DataFrame(x_pca)

pca.explained_variance_ratio_

array([1.47876490e-01, 6.52816666e-02, 4.52428760e-02, 4.10411931e-02,
       4.04596470e-02, 3.90453086e-02, 3.83017645e-02, 3.64262397e-02,
       3.58219749e-02, 3.34375013e-02, 3.25140869e-02, 3.22584972e-02,
       3.17132455e-02, 3.02913758e-02, 2.95676203e-02, 2.86616209e-02,
       2.73296481e-02, 2.64021229e-02, 2.62546108e-02, 2.50452519e-02,
       2.41336754e-02, 2.39612525e-02, 2.24697811e-02, 2.17964245e-02,
       2.11562514e-02, 2.02993207e-02, 2.00636107e-02, 1.76146921e-02,
       1.55166891e-02, 1.55604973e-05, 3.73758475e-25, 3.35539352e-26,
       1.09204164e-26, 1.57586820e-27, 9.08189461e-28, 5.75975379e-28,
       1.16091871e-28, 2.91634954e-32, 6.92096269e-34, 6.92096269e-34,
       6.92096269e-34])

In [119]:
x_pca.head()

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,-0.031226,2.818094,3.150270,-0.895537,-1.766120,1.920578,-0.405345,-0.231977,0.459511,-1.273227,...,-2.019346e-11,-3.903479e-12,-4.459035e-12,3.963158e-11,-4.166783e-11,1.055979e-11,2.550128e-15,-1.308549e-16,-9.282514e-17,-5.079047e-17
1,-0.024269,2.705905,3.450221,-1.362847,-0.334929,1.197718,-1.502136,0.349875,-1.472080,0.260544,...,-4.855038e-12,-1.702272e-13,-3.162615e-13,-1.791952e-13,-5.253171e-12,3.905247e-14,-3.795386e-16,-2.260102e-16,-2.234125e-16,1.974798e-16
2,-0.018263,3.254451,2.928200,-1.458351,-1.103849,1.144012,-1.937468,-0.662926,-0.833959,0.437474,...,-5.368167e-12,-1.313387e-12,1.954820e-12,1.060139e-11,1.074039e-11,-6.245963e-12,6.014555e-16,5.279983e-16,4.124818e-16,-1.439585e-16
3,-0.024029,1.547629,2.475961,1.226779,-0.894456,2.098494,-1.881756,0.180412,-1.006254,0.757915,...,5.478885e-12,-4.527722e-13,-1.388308e-13,-7.890948e-12,-6.690422e-12,5.417724e-12,-2.057097e-16,-2.174675e-16,-1.229589e-16,-5.629634e-17
4,-0.025732,1.284994,3.186786,0.617503,-1.093666,1.154908,-1.315931,-0.825746,-1.219666,0.479951,...,-1.618192e-11,-8.574004e-12,8.113155e-12,-3.283679e-12,-1.286182e-11,1.479835e-12,-8.294191e-16,2.195188e-17,4.623886e-17,5.488406e-17